services:
  - type: web
    name: cyber-bot
    runtime: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: TELEGRAM_TOKEN
        sync: false
      - key: GEMINI_API_KEY
        sync: false
      - key: OPENAI_API_KEY
        sync: false
      - key: POSTGRES_URL
        sync: false
      - key: ADMIN_NOTIFICATION_ID
        sync: false
      - key: PYTHON_VERSION
        value: 3.11.10
